body {
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.countdown {
  color: #bbf78f;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 36px;
  text-shadow: black 2px 2px;
}

.count {
  font-size: 120px;
}

div {
  margin: 0;
  padding: 0;
}
